.calculadora{
   display: block;
   margin:0 auto;
   padding: 25px;
   background-color: #0e0a0a;
   width: 320px;
   height: 620px;
   border-radius: 45px 45px;
}

.calculadora td button{
  display: block;
  width: 65px;
  height: 65px;
  font-size: 40px;
  border-radius: 50%;

}

#resultado{
  display: block;
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px; 
  width: 250px;
  height: 110px;
  line-height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  overflow-y: scroll;
}

video {
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   z-index: -100;
}

.naranja {
  background-color: darkorange;
  color: white;
} 

.gris {
  background-color: rgb(84, 83, 83);
  color: white;
} 

#cero{
  width: 100%;
  border-radius: 55px;
  justify-content: flex-start;  
}
#potencia2 span  {
  color: rgb(14, 14, 14);
  font-size: 30px;


}
 

.plata {
  background-color: rgba(205, 200, 200, 0.848);
  color: rgb(14, 14, 14);

}




